Hi!

Someone thought you might be interested in learning this Hawaiian word. 

Title <%= @title -%>

Definition <%= @location -%>

Description <%= @description -%>

Sign up at <%= @url -%>

Thanks!
-jonasloco