Hi there!

Just wanted to let you know that your classified <%= @title -%>, has interested a buyer. Their e-mail is <%= @email %>. They left you the following message:
<%= @message -%>

Thanks!

- jonasloco
